<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control"
           type="text"
           th:field="*{username}"
           id="username"
           placeholder="Username">

    <label for="password">Username</label>
    <input class="form-control"
           type="text"
           th:field="*{password}"
           id="password"
           placeholder="Password">

    </button>

  </div>
  <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>